/* 일반 스타일 */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  position: relative;
  margin-bottom: 50px; /* footer를 고려한 하단 여백 추가 */
}

/* 미디어 쿼리: 600px 이상인 경우 */
@media screen and (min-width: 600px) {
  body {
    background-color: lightblue;
  }
}

/* 미디어 쿼리: 900px 이상인 경우 */
@media screen and (min-width: 900px) {
  body {
    background-color: lightgreen;
  }
}

/* 상단 이미지 스타일링 */
.header {
  position: relative;
  overflow: hidden; /* 내용이 넘칠 때 가리기 */
}

.header img {
  width: 100%;
  height: auto;
}

/* 닉네임 입력 창 스타일링 */
.nickname-container {
  position: absolute;
  top: 120%; /* 화면 아래쪽으로 이동 */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px; /* 상하 40px, 좌우 40px */
  border-radius: 10px;
  font-size: 22px; /* 부모 요소의 폰트 크기 상속 */
  text-align: center; /* 버튼을 가운데 정렬 */
  z-index: 1;
  max-width: 300px; /* 최대 너비 설정 */
}

/* 닉네임 입력 창 스타일링 */
.nickname-container input[type="text"] {
  width: 100%; /* 부모 요소인 .nickname-container의 100% */
  padding: 15px; /* 상하 15px, 좌우 15px */
  font-size: inherit; /* 부모 요소의 폰트 크기 상속 */
  border: 1px solid #ccc; /* 테두리 추가 */
  border-radius: 5px; /* 테두리 둥글게 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 설정 */
  margin-bottom: 5px; /* 입력 창 아래 여백 추가 */
}

.nickname-container button {
  top: 20px;
  width: 50%; /* 가로 전체 너비 설정 */
  padding: 5px; /* 상하 15px, 좌우 15px */
  font-size: 20px; /* 부모 요소의 폰트 크기 상속 */
  background-color: #4CAF50; /* 배경색 설정 */
  color: white; /* 글자색 설정 */
  border: none; /* 테두리 제거 */
  border-radius: 5px; /* 테두리 둥글게 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  margin-top: 5px; /* 버튼 위 여백 추가 */
}


.nickname-container button:hover {
  background-color: #45a049; /* 호버시 배경색 변경 */
}


.nickname-container h1 {
  margin-bottom: 20px;
}

.nickname-container label {
  display: block;
  margin-bottom: 10px;
}

.gender-container {
  display: flex; /* 아이템들을 가로로 배열하기 위해 flexbox 사용 */
  justify-content: center; /* 가운데 정렬 */
  margin-top: 10px; /* 간격 조절 */
}

.gender-container label {
  margin: 0 5px; /* 라디오 버튼과 텍스트 간격 조절 */
}

/* 팝업 스타일 */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; /* 가장 위에 띄우기 위해 큰 값을 설정 */
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 10000; /* 내부 팝업을 팝업 백그라운드 위에 띄우기 위해 큰 값을 설정 */
}


.popup-content button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 1; /* 다른 요소 위에 위치하도록 설정 */
}

/* 메뉴 바 스타일링 */
.menu {
  background-color: #333;
  text-align: center; /* 가운데 정렬 */
  padding: 5px 0; /* 위아래 여백 */
  position: relative; /* 부모 요소를 relative로 설정 */
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  display: inline-block;
  margin: 0 20px; /* 각 메뉴 항목 사이의 간격 */
}

.menu ul li a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 18px; /* 폰트 크기 설정 */
  font-weight: bold; /* 폰트 굵게 설정 */
}

.menu ul li a:hover {
  background-color: #555;
}

.my-info {
  display: flex;
  position: absolute; /* 내 정보 창을 absolute로 설정 */
  flex-direction: column;
  justify-content: center; /* 세로 방향으로 아이템을 배열 */
  align-items: center; /* 가운데 정렬 */
  top: calc(100% + 10px); /* 메뉴 바 바로 아래에 위치하도록 설정 */
  right: 0; /* 오른쪽으로 정렬 */
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-top: 20px;
}

.my-info h2 {
  margin: 0; /* 헤더의 위아래 여백 제거 */
}

.my-info p {
  margin: 5px 0;
  text-align: left;
}

.my-info img {
  display: block;
  max-width: 100px;
  margin-left: auto;
  margin-left: 0px; /* 아바타 이미지와 텍스트 사이의 여백 설정 */
  border: 1px solid #ced4da; /* 이미지 주변에 테두리 추가 */
  border-radius: 5px; /* 이미지 테두리를 둥글게 설정 */
}
